@import "/node_modules/bootstrap/scss/bootstrap.scss";

.bg-blue {
  background-color: #0062ff;
}

.bg-dark {
  background-color: hsl(0, 0%, 13%);
}

.text-petrol {
  color: #212121;
}

.text-white {
  color: #ffffff;
}

.text-red {
  color: #ff0000;
}

.short-container {
  max-width: 43.75rem;
}

.rounder {
  border-radius: 0.5rem;
}
