@import "/node_modules/bootstrap/scss/bootstrap.scss";

.bg-blue {
  background-color: #0062ff;
}

.bg-dark {
  background-color: #212121;
}

.text-dark {
  color: #212121;
}

.text-white {
  color: #ffffff;
}

.text-danger {
  color: #ff0000;
}
